aiohttp==3.8.4
aiosignal==1.3.1
beautifulsoup4==4.12.2
bs4==0.0.1
Pillow==9.0.0
streamlit-auth0-component
streamlit_extras
gtts
os
chardet==5.1.0
charset-normalizer==3.2.0
docarray==0.13.17
docx2txt==0.8
python-docx
GitPython==3.1.32
google-api-core==2.11.1
google-api-python-client==2.83.0
google-auth==2.22.0
google-auth-httplib2==0.1.0
httpcore==0.13.7
httplib2==0.22.0
httpx==0.18.2
numpy
openai
pandas
PyPDF2==3.0.1
regex==2023.6.3
requests
streamlit
streamlit-chat
streamlit-pills
tqdm==4.65.0
urllib3==1.26.16
Wand==0.6.11
localStoragePy
zipp==3.16.2
azure-ai-textanalytics
azure-ai-language-questionanswering
BeautifulSoup4
scikit-learn
torchtext
nltk
seaborn
streamlit
azure-storage-blob
